[Desktop Entry]
Exec=lumina-calculator
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Utility;
Name=Calculator
Name[pt]=Calculadora
GenericName=Scientific Calculator for Lumina
GenericName[pt]=calculadora científica para Lumina
Comment=Perform mathematical calculations
Comment[pt]=Executar cálculos matemáticos
