[Desktop Entry]
Exec=lumina-calculator
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Utility;
Name=Calculator
Name[pt]=Calculadora
Name[ru]=Калькулятор
GenericName=Scientific Calculator for Lumina
GenericName[pt]=Calculadora científica para Lumina
GenericName[ru]=Научный калькулятор для Lumina
Comment=Perform mathematical calculations
Comment[pt]=Executar cálculos matemáticos
Comment[ru]=Математические расчеты
